body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}


h1, h2, h3, h4, h5 {
    font-weight: normal;
}

h1, h2, h3 {
    font-family: Arial, Helvetica, sans-serif;
}

h3 {
    margin: 0;
}

h4 {
    margin: 0;
    color: #a69083;
}

h5 {
    margin-top: 5px;
    margin-bottom: 0px;
    font-size: 12px;
}

#subtitulo {
    color: #a69083;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 10px;
    font-size: 11px;
    font-weight: 300;
}

#header {
    background-color: #000;
    border-bottom: 1px solid #3d3d3d;
    height: 144px;
    width: 100%;
}

#h1titulo {
    margin-bottom: 0px;
}

#titulo {    
    margin-left: 10px;
    color: #FFF;
}

#banner {
    margin-top: 20px;
    margin-bottom: 10px;
    height: 180px;
    background-image: url(../img/banner.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border: 10px solid #DDD;
}

#logo {
    background-color: #1d1d1d;
    position: relative;
    width: 100%;
    height: 98px;
}

#logo #logo_text {
    position: absolute;
    top: 10px; left: 0;
}

#menubar {
    height: 45px;
    padding-right: 8px;
    background: #2D2D2D;
    border-top: 1px solid #3D3D3D;
}

#menu li {
    float: right;
    list-style-type: none;
    background-color: #5b4239;
    padding: 2px 5px;
    margin-right: 6px;
}

#menu li:hover {
    background-color: #b48a7a;
}

#menu li a {
    font-size: 11px;
}

#menu .selected {
    margin-right: 0px;
}

.enlaceBlanco  {
    text-decoration: none;
    color: #fff;
}

.sidebar_container {
    margin-left: 20px;
}

.sidebar ul li a {
    color: #a3908c;
}

.sidebar_item {
    border: solid 1px #ededed;
    border-radius: 15px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px;
}

#content {
    margin: 20px 5px 30px 5px;
}

#content ul li, .sidebar ul li {
    list-style-image: url(../img/bullet.png);
}


#footer {
    background-color: #000;
    color: #fff;
    padding: 32px 0px 32px 0px;
}

#alTajo {
    text-align: center;
}

#liFantasma {
    list-style-type: none;
}

.clear-both {
    clear: both;
    padding: 0px !important;
    margin: 0px;
    height: 1px;
    width: 100%;
    background-color: transparent !important;
}

@media (max-width: 355px) {
    li {
        margin-top: 6px;
    }
    
    #header {
        height: 180px;
    }

    #logo {
        height: 120px;
    }

    #titulo {
        font-size: 24px;
    }

    #h1titulo {
        margin-top: 0;
    }

    #menubar {
        height: 100px;
    }
}

@media (min-width: 1000px) {    
    #titulo {    
        margin-left: 20px;
        color: #FFF;
    }
    
    #subtitulo {
        margin-left: 20px;
        font-size: 14px;
        font-weight: 300;
    }

    #menubar {
        height: 62px;
        padding-right: 8px;
    }
    
    #menu li {
        padding: 5px 10px;
        margin-right: 10px;
    }
    
    #menu li:hover {
        background-color: #b48a7a;
    }
    
    #menu li a {
        font-size: 12px;
    }
    
    #menu .selected {
        margin-right: 0px;
    }

    .contentContainer {
        width: 100%;
    }
    
    #sidebar_container {
        display: inline-block;
        width: 25%;
        box-sizing: border-box;
        margin-left: 20px;
    }
    
    #content {
        display: inline-block;
        width: 70%;
        box-sizing: border-box;
    }

    .clear-both {
        clear: both;
        padding: 0px !important;
        margin: 0px;
        height: 1px;
        width: 100%;
        background-color: transparent !important;
    }
}