body {
    margin: 0;
}

#rio {
    width: 100vw;
}

#puente {
    position: absolute;
    top: 30%;
    left: 25%;
    z-index: 1;
}

#gondola {
    width: 450px;
    position: absolute;
    top: 40%;
    left: 2%;
    animation: gondola 16s infinite;
}

#remo {
    width: 200px;
    position: absolute;
    top: 42%;
    left: 5%;
    animation: remo 16s infinite;
}

@keyframes gondola {
    0% {
        left: 2%;
    }
    
    50% {
        left: 82%;
    }
    
    100% {
        left: 2%;
    }
}

@keyframes remo {
    0% {
        left: 5%;
        transform: rotateZ(0deg);
    }

    10% {
        transform: rotateZ(90deg);
    }
    
    20% {
        transform: rotateZ(0deg);
    }

    30% {
        transform: rotateZ(90deg);
    }
    
    40% {
        transform: rotateZ(0deg);
    }
    
    50% {
        left: 85%;
        transform: rotateZ(90deg);
    }

    60% {
        transform: rotateZ(0deg);
    }
    
    70% {
        transform: rotateZ(90deg);
    }

    80% {
        transform: rotateZ(0deg);
    }

    90% {
        transform: rotateZ(90deg);
    }
    
    100% {
        transform: rotateZ(0deg);
        left: 5%;
    }
}