body {
    background-image: url("./img/lava.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.onda {
    position: absolute;
    width: 300px;
    height: 300px;
    background: transparent;
    right: 800px;
    bottom: 400px;
    border-radius: 1000px;
    transform-origin: center;
}

#onda1 {
    animation: goteo 4s infinite;
}

#onda2 {
    animation: goteo 4s infinite;
    animation-delay: 0.3s;
}

#onda3 {
    animation: goteo 4s infinite;
    animation-delay: 0.5s;
}

#onda4 {
    animation: goteo 4s infinite;
    animation-delay: 0.7s;
}

#onda5 {
    animation: goteo 4s infinite;
    animation-delay: 0.8s;
}

@keyframes goteo {
    0% {
        scale: 0.1;
        opacity: 0;
        border: 8px solid;
        border-color: #ff0000;
    }

    50% {
        opacity: 1;
    }

    100% {
        scale: 3.6;
        opacity: 0;
        border: 2px solid;
        border-color: #ff7b00;
    }
}