body {
    margin: 0;
    width: 100%;
    height: 100vh;  
  }

  #matraz {
    width: 170px;
    position: absolute;
    top: 240px;
    left: 370px;
    z-index: 2;
  }
  
  /* #pocion {
    position: absolute;
    top: 300px;
    left: 250px;
    width: 200px;
    height: 200px;
    transform-origin: center;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url(./img/matraz.jpg);
    z-index: 2;  
  } */
  
  #blanco {
    background-color: #FFFFFF;
    height: 120px;
    width: 120px;
    position: absolute;
    top: 280px;
    left: 400px;
    z-index: 1;
    animation: llenar 8s infinite;
  }

  #pocima {
    background-color: #9d00ff;
    height: 120px;
    width: 120px;
    position: absolute;
    top: 280px;
    left: 400px;
  }
  
  /* body:hover #liquido {
    animation-delay: 3s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    background-color: #9d00ff;
  } */
  
  /* body:hover #jarra {
    animation: jarra 8s infinite;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
  } */
  
  #jarra {
    position: absolute;
    top: 20px;
    left: 235px;
    width: 200px;
    height: 200px;
    transform-origin: center;
    background-size: contain;
    background-repeat: no-repeat;
    /* background-image: url(./img/jarra.webp); */
    z-index: 2;
    animation: jarra 8s infinite;
  }

  
  @keyframes llenar {
    0% {
        top: 280px;
      }
      
      37.5% {
      top: 280px;
    }
  
  
    100% {
        top: 160px;
      }
    }
  
  
  @keyframes jarra {
    0% {
        transform: rotate(0deg);
    }
  
    85% {
        transform: rotate(45deg);
    }
  
    100% {
        transform: rotate(0deg);
    }
  }