.flex {
    display: flex;
}

body {
    flex-direction: column;
    color: #b4b4b4;
    margin: 0;
    align-items: center;
    width: 100vw;
}

header {
    flex-direction: column;
    background-color: #333333;
    width: 100%;
    height: fit-content;
    padding-left: 20px;
}

h1 {
    margin: 0px;
}

a {
    color: orange;
    text-decoration: none;
}

p {
    text-align: center;
}

footer {
    background-color: #232323;
    padding-top: 20px;
    padding-bottom: 20px;
    width: 100%;
}

#titulo {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
}

#menu {
    padding: 0px;
    height: fit-content;
    width: fit-content;
    flex-wrap: wrap;
}

.menuItem {
    list-style-type: none;
    padding: 6px;
    justify-content: center;
    align-items: center;
    background-color: #232323;
}

.menuLink {
    font-size: 12px;
    color: #b4b4b4;
    text-decoration: none;
}

#content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#divNegroGrande {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 360px;
    align-items: center;
    background-color: #232323;

}

#contentUp {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 120%;
    margin-top: 32px;
}

#contentDown {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 32px;
    width: 290px;
}

.divNegroPequeno {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%px;
    height: 180px;
    background-color: #232323;
}

.parrafoEnlace {
    display: flex;
    justify-content: flex-end;
}

@media(max-width: 350px) {
    #contentUp {
        width: 90%;
    }

    #contentDown {
        width: 90%;
    }
}

@media (min-width: 1000px) {
    header {
        align-items: center;
    }

    p {
        text-align: left;
        font-size: 18px;
    }

    footer {
        display: flex;
        justify-content: center;
    }

    #contenidoHeader {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-end;
        width: 960px;
        margin-bottom: 6px;
    }

    #menu {
        margin: 0;
    }

    .menuItem {
        padding: 10px;
    }

    .menuLink {
        font-size: 14px;
    }

    #content {
        max-width: 960px;
    }

    #divNegroGrande {
     width: 960px;
     font-size: 40px;
    }
    
    #contentDown {
        width: 100%;
        flex-direction: row;
        justify-content: space-between;
    }
    
    .downChild {
        width: 290px;
    }
    
    .divNegroPequeno {
        width: 290px;
        font-size: 30px;
    }

    .parrafoEnlace {
        width: 100%;
    }

    #parrafoPie {
        width: 960px;
    }
}