body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    color: #333;
    background-color: #EDEDEE;
}

h1 {
    font-size: 50px;
    text-align: center;
}

h2 {
    margin-top: 20px;
    margin-bottom: 6px;
    font-size: 34px;
    text-align: center;
}

a {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    width: 400px;
    padding-block: 10px;
    background-color: #E6621F;
    border: 3px solid #E6621F;
    color: white;
    font-size: 24px;
    border-radius: 99px;
}

a:hover {
    background-color: white;
    color: #E6621F;
}

.disabled {
    background-color: #a35f3d;
    border: 3px solid #a35f3d;
    color: #2e2b2b;
    pointer-events: none;
}

#container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 100%;
    padding-bottom: 40px;
}

@media (max-width: 450px) {
    a {
        width: 300px;
    }
}

@media (max-width: 300px) {
    body {
        font-size: 16px;
    }

    h1 {
        font-size: 40px;
    }

    h1 {
        font-size: 40px;
    }

    a {
        width: 200px;
    }
}