.fila, #container {
    height: fit-content;
    width: fit-content;
}

#container {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.fila {
    display: flex;
}

#comic1 {
    transition: transform 3s cubic-bezier(1,.02,0,.95);
    transform-origin: center;
    z-index: 2;
}

#comic1:hover {
    transform: scale(2);
}

#comic2 {
    transition: opacity 2s cubic-bezier(1,.02,.82,.64);
}

#comic2:hover {
    opacity: 0;
}

#comic3 {
    width: 312px;
    height: 383px;
    transition: transform 4s, opacity 3s 1s, background-image 2s 2s;
    background-image: url("./img/comic3.png");
}
  
#comic3:hover {
    transform: translateX(312px);
    background-image: url("./img/comic4.png");
    opacity: 0.1;
}
  

#comic4 {
    transition: transform 2s ease-in-out;
    transform-origin: top right;
}

#comic4:hover {
    transform: scale(0);
}

#comic5 {
    transition: transform 3s linear;
    z-index: 1;
}

#divAux {
    display: flex;
    flex-direction: row;
}

#divAux:hover #comic5{
    transform: rotate(-180deg);
    z-index: 2;
}

#comic6 {
    transition: transform 3s;
    transform-origin: bottom left;
    z-index: 1;
}

#divAux:hover #comic6 {
    transform: scale(1.2);
    z-index: 2;
}
  

